@import url("//fonts.googleapis.com/css?family=Lobster|Cabin:400,700");

h1 {
    font-family: 'Lobster', cursive;
    font-weight: bolder;
    color: lightgreen;
}

h3 {
    font-family: 'Lobster', cursive;
    font-weight: bolder;
    color: lightgreen;
    padding-top: 5%;
    margin-left: -5%;
}

body {
    background-color: slategray;
}

label.control-label {
    font-family: sans-serif;
    color: white;
    padding-top: 2em;
    font-weight: bold;
    text-align: left;
}

#chartOutput.shiny-html-output.shiny-bound-output {
    padding-top: 5%;
    margin-left: -5%;
}

#tableOutput.shiny-html-output.shiny-bound-output {
    margin-left: -5%;
    font-family: sans-serif;
    background-color: white;
    color: slategray;
    border-color: white;
}